.container {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container .mat-drawer {
  min-width: 200px;
}

.container .mat-drawer .mat-button {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

.spacer {
  flex: 1 1 auto;
}