<html> 
  <header>
    <link type="styles/css" href="form-component.component.css">
  </header>

  <body>  
    <p>
      <mat-form-field appearance="legacy">
        <input matInput placeholder="Label">
        <mat-hint>Assistive Text</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <input matInput placeholder="Label">
        <mat-hint>Assistive Text</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <input matInput placeholder="Label">
        <mat-hint>Assistive Text</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <input matInput placeholder="Label">
        <mat-hint>Assistive Text</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <input matInput placeholder="Label">
        <mat-hint>Assistive Text</mat-hint>
      </mat-form-field>
    </p>
  </body>
</html>
