<html>
<header>
  <link type="styles/css" href="form-component.component.css">
</header>

<body>
  <div>
    <p>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Label">
        <mat-hint>Assistive Text</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Label">
        <mat-hint>Assistive Text</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Label">
        <mat-hint>Assistive Text</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Label">
        <mat-hint>Assistive Text</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Label">
        <mat-hint>Assistive Text</mat-hint>
      </mat-form-field>
    </p>
    <div align="end">
      <button (click)="openCloseFormDialog()" mat-stroked-button>Submit</button>
    </div>
  </div>
</body>

</html>